/*------------------------------------*\
  #Helpers
\*------------------------------------*/

/*
 * Font sizes
 */

.f-headline {
  font-size: 2rem;
  @media (--breakpoint-small) {
    font-size: 2.250rem;
  }
}

/* 28px */
.f1 {
  font-size: 2rem;
  font-weight: 800;
  @media (--breakpoint-small) {
    font-size: 1.75rem;
  }
}

.f2 {
  font-size: 1.375rem;
  @media (--breakpoint-small) {
    font-size: 1.375rem;
  }
}
.f3 {
  font-size: 1.25rem;
  @media (--breakpoint-small) {
    font-size: 1.25rem;
  }
}
.f4 {
  font-size: 1rem;
  @media (--breakpoint-small) {
    font-size: 1.25rem;
  }
}
.f5 {
  font-size: 1rem;
}
.f6 {
  font-size: 0.875rem;
}


.wrapper {
  max-width: var(--site-width);
  margin-left: auto;
  margin-right: auto;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.h-large {
  height: 800px;
}

.h-medium {
  min-height: 500px;
  height: 65vh;
  max-height: 700px;
}

.w-small {
  max-width: 540px;
}

.w-medium {
  max-width: 800px;
}

.m05-b {
  margin-bottom: 0.5rem;
}

.m1-05-b {
  margin-bottom: 1.5rem;
}

.m1-l {
  margin-left: 1rem;
}
.m1-b {
  margin-bottom: 1rem;
}
.m2-b {
  margin-bottom: 2rem;
}

.m2-l {
  margin-left: 2rem;
}

.m3-l {
  margin-left: 3rem;
}

.m3-b {
  margin-bottom: 3rem;
}

.m4-b {
  margin-bottom: 4rem;
}


.m3-r {
  margin-right: 3rem;
}

.m6-b {
  margin-bottom: 6rem;
}

.m9-b {
  margin-bottom: 9rem;
}
.p3-lr {
  padding-left: 3rem;
  padding-right: 3rem;
}

.p3-r {
  padding-right: 3rem;
}

.p3-t {
  padding-top: 3rem;
}

.p6-lr {
  padding-left: 6rem;
  padding-right: 6rem;
}
.p9-lr {
  padding-left: 9rem;
  padding-right: 9rem;
}

.p6-t {
  padding-top: 6rem;
}

.p9-t {
  padding-top: 9rem;
}

.white {
  color: var(--white)
}

.green {
  color: var(--green)
}

.gray {
  color: var(--gray);
}

.bg-gray-light {
  background-color: var(--gray-light)
}

.no-underline {
  text-decoration: none;
}

.text-center {
  text-align: center;
}

.button {
  background-color: var(--orange);
  color: var(--white);
  padding: 1rem 2rem;
  border-radius: 30px;
  text-decoration: none;
  display: inline-block;

  &:hover {
    color: var(--white);
    background-color: color( var(--orange) lightness(50%))
  }
}

.button-transparent {
  background: color(white alpha(-90%));
  padding: .6rem 1.6rem;
}

.h-center {
  margin-left: auto;
  margin-right: auto;
}

.h-right {
  float: right;
}

.v-center {
  align-items: center;
}

.icon-large {
  width: 65px;
  height: 65px;
}


 /*
 * Grids
 */


.grid {

  /* Fallback: create equal heights of items for non grid browsers like Edge */
  @supports not (display: grid) {
    display: flex;
    flex-flow: row wrap;
  }

}

 @media all and (-ms-high-contrast:none)
{
  .grid { 
    display: flex;
    flex-flow: row wrap;
  } /* IE10 */
  
  *::-ms-backdrop, .grid {
    display: flex;
    flex-flow: row wrap;
  } /* IE11 */
}

.grid-3-1 {
  @media (--breakpoint-small) {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-column-gap: 3rem;

        /* Fallback */
    & > .grid-item {
      margin-right: 3rem;
      width: calc(66% - 3rem)
    }

    & > .grid-item:nth-child(2) {
      width: calc(33% - 3rem)
    }
    /* End fallback */
  }
}

.grid-fourths {
  @media (--breakpoint-small) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  /* Fallback */
    & > .grid-item {
      width: calc(50% - 1rem);
      margin-right: 1rem;
    }
    /* End fallback */
  }
  @media (--breakpoint-medium) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
        /* Fallback */
    & > .grid-item {
      width: calc(25% - 1rem);
      margin-right: 1rem;
    }
    /* End fallback */
  }
}

.grid-halves {
  @media (--breakpoint-medium) {
    display: grid;
    grid-template-columns: 1fr 1fr;
     /* Fallback */
    & > .grid-item {
      width: 50%;
    }
    /* End fallback */
  }
}


.grid-item{
  position: relative;

  /* Fallback */
  float: left;
  width: 100%;

  @supports (display: grid) {
    width: auto !important;
    margin-right: 0 !important;
    float: none !important;
  }

  &:last-child {
    margin-right: 0;
  }
  /* End fallback */
}

.grid-thirds {
  @media (--breakpoint-medium) {
    grid-template-columns: 1fr 1fr 1fr;
    display: grid;

    /* Fallback */
    & > .grid-item {
      width: calc(33% - 1rem);
    }
    /* End fallback */

  }
}

.grid-sixes {
  @media (--breakpoint-small) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 2rem;

    /* Fallback */
    & > .grid-item {
      width: calc(33% - 2rem);
    }
    /* End fallback */


  }
  @media (--breakpoint-medium) {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 3rem;
    
    /* Fallback */
    & > .grid-item {
      width: calc(16.65% - 1rem);
      margin-right: 1rem;
    }
    /* End fallback */
  }
}

.grid-fives {
  @media (--breakpoint-small) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 2rem;

    /* Fallback */
    & > .grid-item {
      width: calc(33% - 2rem);
    }
    /* End fallback */


  }
  @media (--breakpoint-medium) {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 3rem;
    
    /* Fallback */
    & > .grid-item {
      width: calc(18.5% - 1rem);
      margin-right: 1rem;
    }
    /* End fallback */
  }
}



.grid-gap-medium {
  @media (--breakpoint-small) {
    grid-column-gap: 3rem;
    grid-row-gap: 3rem;
  }
}

.grid-gap-medium-large {
  @media (--breakpoint-small) {
    grid-column-gap: 6rem;
    grid-row-gap: 3rem;
  }
}
.grid-gap-large {
  @media (--breakpoint-small) {
    grid-column-gap: 6rem;
    grid-row-gap: 6rem;
  }
}
.bg-cover {
  background-size: cover;
  background-position: center center;
}

.flex {
  display: flex;
}